config interface 'loopback'
	option ifname 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'

config interface 'lan'
	option auto '1'
	option type 'bridge'
<% if @node['eth0_name'].nil? -%>
	option ifname 'eth0'
<% else -%>
	option ifname '<%= @node.fetch('eth0_name') %>'
<% end -%>
	option proto 'static'
<% if @node['private_lan'] -%>
	option ipaddr '172.30.22.1'
	option netmask '255.255.0.0'
<% else -%>
	option ipaddr '<%= @node.fetch('ip4') %>'
	option netmask '<%= @node.fetch('netmask4') %>'
<% end -%>
	option dns '<%= @node.fetch('dns_server') %>'
	option ip6assign '64'

<% if @node['intswitch'] -%>
config switch
	option name 'switch0'
	option reset '1'
	option enable_vlan '1'

config switch_vlan
	option device 'switch0'
	option vlan '1'
	option ports '<%= @node.fetch('port_v1_num') %> 0t'

config switch_vlan
	option device 'switch0'
	option vlan '2'
	option ports '<%= @node.fetch('port_v2_num') %> 0t'
<% end -%>

# 802.11s
config interface 'mesh0'
	option ifname 'wif0'
	option proto 'none'
	option auto '1'

<% if @node['ath10k'].nil? -%>
# adhoc mode (legacy qmp and/or bmx6 runs on vlan 12)
config device 'wif1_t'
	option type '8021q'
	option name 'wif1_t'
	option ifname 'wif1'
	option vid '12'

# configurable MTU
config interface 'wif1'
	option proto 'none'
	option mtu '<%= @node.fetch('wifi_mtu') %>'

# trick to activate wif1_t
config interface 'mesh1'
	option ifname 'wif1_t'
	option auto '1'
<% end -%>

<% if @node['guifi10_static_route'] -%>
config route
	option interface 'lan'
	option target '10.0.0.0'
	option netmask '255.0.0.0'
	option metric '1'
	option gateway '<%= @node.fetch('guifi10_static_route') %>'
<% end -%>
