config interface 'loopback'
	option ifname 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'

config interface 'lan'
	option auto '1'
	option type 'bridge'
	option ifname 'eth0'
	option proto 'static'
	option ipaddr '<%= @node.fetch('ip4') %>'
	option netmask '<%= @node.fetch('netmask4') %>'
	option dns '<%= @node.fetch('dns_server') %>'
	option ip6assign '64'

config device 'mesh_e0'
	option type '8021q'
	option name 'mesh_12'
	option ifname 'eth0'
	option vid '12'

config interface 'mesh'
	option proto 'static'
	option ifname 'mesh_12'

config interface 'wan'
	option ifname 'eth1'
	option proto 'dhcp'

config interface 'wan6'
	option ifname 'eth1'
	option proto 'dhcpv6'

config interface '<%= @node.fetch('ptp_netname') %>'
<% if @node['bgp_over_l2tp'] -%>
	option proto 'l2tp'
	option username '<%= @node.fetch('l2tp_user') %>'
	option password '<%= @node.fetch('l2tp_passwd') %>'
	option server '<%= @node.fetch('l2tp_server') %>'
	option mtu '<%= @node.fetch('l2tp_mtu') %>'
	option checkup_interval '10'
	option keepalive '20,10'
	option ipv6 'auto'
	option defaultroute '0'
<% else -%>
	option ifname 'eth2'
	option proto 'static'
	option ipaddr '<%= @node.fetch('bgp_ptp_ip4') %>'
	option netmask '<%= @node.fetch('bgp_ptp_netmask4') %>'
<% end -%>
