<%# Config file for one wireless antenna -%>
config wifi-device 'radio0'
	option type 'mac80211'
	option hwmode '<%= @node.fetch('wifi_hwmode') %>'
<% if @node['ath10k'] -%>
	option htmode '<%= @node.fetch('wifi_htmode_ath10k') %>'
<% else -%>
	option htmode '<%= @node.fetch('wifi_htmode') %>'
<% end -%>
	option channel '<%= @node.fetch('wifi_channel') %>'
	option country '<%= @node.fetch('wifi_country') %>'
<%# detect nil -> src https://softwareengineering.stackexchange.com/questions/302530/ruby-if-variable-vs-if-variable-nil -%>
<%# when txpower is null, it is in auto mode -%>
<% if ! @node['wifi_txpower'].nil? -%>
	option txpower '<%= @node.fetch('wifi_txpower') %>'
<% end -%>
<%# devices seems that always require this; leaving it null let's openwrt autocomplete it -%>
<% if @node['wifi_path'].nil? -%>
	# autogenerate phy for wireless iface -> src https://forum.openwrt.org/t/pre-configure-wireless-configuration-into-firmware-and-automatically-generate-path-phy-option/23479
	option phy 'phy0'
<% else -%>
	option path '<%= @node.fetch('wifi_path') %>'
<% end -%>
	# two common options useful for mesh networks
	# check here for understand why
	# https://gitlab.com/guifi-exo/temba/tree/master/docs/wireless.md
	option distance '5000'
	option mcast_rate '6000'

config wifi-iface 'wifinet0'
	option mode 'mesh'
	option device 'radio0'
	option network 'mesh0'
	option ifname 'wif0'
	option mesh_rssi_threshold '0'
	option encryption 'none'
	option mesh_fwding '0'
	option mesh_id '<%= @node.fetch('wifi_mesh_id') %>'

<% if @node['ath10k'].nil? -%>
config wifi-iface 'wifinet1'
	option mode 'adhoc'
	option device 'radio0'
	option network 'mesh1'
	option ifname 'wif1'
	option encryption 'none'
	option bssid '<%= @node.fetch('wifi_bssid') %>'
	option ssid '<%= @node.fetch('wifi_ssid') %>'
<% end -%>
