function match_guifi_prefix() {

  return net ~ [
    10.0.0.0/8+
  ];

}

function match_zone_prefix() {

  return net ~ [
    <%# inspired by https://ask.puppet.com/question/4195/joining-array-from-hieraconcat-other-value-in-erb/ %>
    <%= @node.fetch('bgp_agg_prefix').map{ |agg| "#{agg}" }.join(",\n    ") %>
  ];

}
